body.devise {
  background: #f4f7ed
}

.login-form {
  margin: auto;
  margin-top: 100px;
  width: 460px;
  background: #fff;
  .title {
    text-align: center;
    padding: 20px;
    color: #fff;
    font-size: 18px;
    background: #444;
  }
  .form-content {
    padding: 60px 80px;
    input.string, input.password {
      margin-top: 20px;
      margin-bottom: 20px;
      height: 45px;
    }
    input.password {
      margin-top: 30px;
    }
    input[type='submit'] {
      height: 45px;
      width: 100%;
    }
    .links {
      text-align: center;
      margin-top: 10px;
    }
  }
}
