@import "bootstrap-sprockets";
@import "bootstrap";

$dark-gray: #383838;
$middle-gray: #8a8a8a;
$middle-dark-gray: #737373;
$light-gray: #cccccc;
$yellow: #ffc324;

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}
@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
}

header.navbar {
  background: #03a9f4;
  margin: 0px;
  li.active a {
    background: #29B6F6;
  }
  a {
    color: #fff;
    &:hover {
      background: #29B6F6;
    }
  }
}

.pointer {
  cursor: pointer;
}

input.string, input.numeric {
  height: 40px;
}
html,body { height: 100%; margin: 0px; padding: 0px; }

.container {
  padding: 0px;
  // width: 1600px;
}

.fullheight {
  height: 100%;
}
.no-padding {
  padding: 0px;
}
.center {
	text-align: center;
}
header.bs-docs-nav.navbar.navbar-static-top {
	background-color: #333;
	li a {
		&:hover {
			background-color: #616161;
		}
	}
	li.active a, .nav .open a {
		background-color: #616161 !important;
	}
	.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
		color: #fff;
	}
}
.hidden {
  display: none;
}
