.mt5 { margin-top:5px; }
.mt7 { margin-top:7px; }
.mt10 { margin-top:10px; }
.mt15 { margin-top:15px; }
.mt17 { margin-top:17px; }
.mt30 { margin-top:30px; }
.mt40 { margin-top:40px; }

.mb5 { margin-bottom:5px; }
.mb7 { margin-bottom:7px; }
.mb10 { margin-bottom:10px; }
.mb15 { margin-bottom:15px; }
.mb17 { margin-bottom:17px; }
.mb30 { margin-bottom:30px; }
.mb40 { margin-bottom:40px; }

.ml5 { margin-left:5px; }
.ml7 { margin-left:7px; }
.ml10 { margin-left:10px; }
.ml15 { margin-left:15px; }
.ml17 { margin-left:17px; }
.ml30 { margin-left:30px; }
.ml40 { margin-left:40px; }

.mr5 { margin-right:5px; }
.mr7 { margin-right:7px; }
.mr10 { margin-right:10px; }
.mr15 { margin-right:15px; }
.mr17 { margin-right:17px; }
.mr30 { margin-right:30px; }
.mr40 { margin-right:40px; }

.pt5 { padding-top:5px; }
.pt7 { padding-top:7px; }
.pt10 { padding-top:10px; }
.pt15 { padding-top:15px; }
.pt17 { padding-top:17px; }
.pt30 { padding-top:30px; }
.pt40 { padding-top:40px; }

.pb5 { padding-bottom:5px; }
.pb7 { padding-bottom:7px; }
.pb10 { padding-bottom:10px; }
.pb15 { padding-bottom:15px; }
.pb17 { padding-bottom:17px; }
.pb30 { padding-bottom:30px; }
.pb40 { padding-bottom:40px; }

.pl5 { padding-left:5px; }
.pl7 { padding-left:7px; }
.pl10 { padding-left:10px; }
.pl15 { padding-left:15px; }
.pl17 { padding-left:17px; }
.pl30 { padding-left:30px; }
.pl40 { padding-left:40px; }

.pr5 { padding-right:5px; }
.pr7 { padding-right:7px; }
.pr10 { padding-right:10px; }
.pr15 { padding-right:15px; }
.pr17 { padding-right:17px; }
.pr30 { padding-right:30px; }
.pr40 { padding-right:40px; }
